<div class="showcase">
  <div id="showcase-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#showcase-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#showcase-carousel" data-slide-to="1"></li>
      <li data-target="#showcase-carousel" data-slide-to="2"></li>
  </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <!-- Item 1 -->
        <div class="item item_1 active">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-8 col-sm-12">
                <div class="table_centered">
                  <div class="table_centered__cell">

                    <!-- Add animation classes to the active slide only -->
                   
                    <h1 class="animateDown" data-animation="animateDown">
                      <% @concert1.bands.each do |band| %>
                        <p><%= band %></p>
                      <% end %>
                    </h1>
                    <p class="lead delay_1 animateUp" data-animation="animateUp">
                      <%= @concert1.friendly_date %> <br /> Time: <%= @concert1.show %>
                    </p>
                    <a href="/tickets?concert=<%=@concert1.id%>" class="btn btn-lg btn-primary delay_2 animateUp" data-animation="animateUp">
                      Tickets
                    </a>
                    <a href="/venues/<%= @concert1.venue_id%>" class="btn btn-lg btn-glass delay_2 animateUp" data-animation="animateUp"><%= @concert1.venue.name %>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    

          <!-- Item 2 -->
          <div class="item item_2">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                  <div class="table_centered">
                    <div class="table_centered__cell">
                      
                      <h1 data-animation="animateDown">
                        <% @concert2.bands.each do |band| %>
                        <ul>
                          <p><%= band %></p>
                          <% end %>
                        </ul>
                      
                      </h1>
                      <p class="lead delay_1" data-animation="animateUp">
                        <%= @concert2.friendly_date %> <br /> Time: <%= @concert2.show %>
                      </p>
                      <a href="/tickets?concert=<%=@concert2.id%>" class="btn btn-lg btn-primary delay_2" data-animation="animateUp">
                        Tickets
                      </a>
                      <a href="/venues/<%= @concert2.venue_id%>" class="btn btn-lg btn-glass delay_2" data-animation="animateUp">
                        <%= @concert2.venue.name %>
                      </a>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Item 3 -->
          <div class="item item_3">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="table_centered">
                    <div class="table_centered__cell">
                      
                      <h1 data-animation="animateDown">
                      <% @concert3.bands.each do |band| %>
                        <ul>
                          <p><%= band %></p>
                          <% end %>
                        </ul>
                      </h1>
                      <p class="lead delay_1" data-animation="animateUp">
                         <%= @concert3.friendly_date %> <br /> Time: <%= @concert3.show %>
                      </p>
                      <a href="/tickets?concert=<%=@concert3.id%>" class="btn btn-lg btn-primary delay_2" data-animation="animateUp">
                        Tickets
                      </a>
                      <a href="#" class="btn btn-lg btn-glass delay_2" data-animation="animateUp">
                        <%= @concert3.venue.name %>
                      </a>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div> <!-- / .carousel-inner -->
      
        <!-- Controls -->
        <a class="carousel__control carousel__control_left" href="#showcase-carousel" role="button" data-slide="prev">
          <img src="assets/img/arrow_left.svg" alt="...">  
        </a>
        <a class="carousel__control carousel__control_right" href="#showcase-carousel" role="button" data-slide="next">
          <img src="assets/img/arrow_right.svg" alt="...">  
        </a>
      
      </div> <!-- / .carousel -->

      

    <!-- RECENT WORKS
    ================================================== -->
    <div class="container courier">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="block-header">
            <span> Venues</span>
          </h1>
        </div>
      </div> <!-- / .row -->
      <% @venues.first(4).each do |venue| %>
      <div class="row">
        <div class="col-sm-3">      
          <a href="/venues/<%=venue.id%>" class="thumbnail">
          <img src="assets/img/<%=venue.image%>" alt="...">
            <div class="caption">
              <h5><%= venue.name %></h5>
                <ul class="rating">
                <% venue.reviews.first.rating.times do %>
                  <li><i class="fa fa-star"></i></li>
                <% end %>
                </ul>
                <p><%= venue.reviews.first.description %></p>
            </div>
          </a>
        </div>
               <% end %>
      </div>
    </div> <!-- / .container -->

    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="blog__timeline">
            <% @concerts.each do |concert| %>
            <div class="blog__item" data-date="<%= concert.friendly_date %>">
              <div class="blog__header">
                <h1 class="blog__title">
                  <a href="/concerts/<%=concert.id%>">
                    <%= concert.bands.first %>
                  </a>
                  <% concert.bands.drop(1).each do |band| %>
                  <h3> <%= band %></h3>
                  <% end %>
                </h1>
                <ul class="blog__info">
                  <li>
                    <i class="fa fa-calendar"></i> <time datetime="<%= concert.date %>"><%= concert.friendly_date %></time>
                  </li>
                  <% if concert.tickets.where(status: 'available').first %>
                  <li>
                     <%= concert.tickets.where(status: 'available').count %> Tickets available
                  </li>
                  <% end %>
                </ul>
              </div> <!-- / .blog__header -->

              <div class="blog__body">
                <a href="/concerts/<%= concert.id%>">
                <% if concert.picture %>
                  
                  <img src="<%= concert.picture %>" alt="" class="img-responsive img-article pull-right">
                <% end %>
                </a>
                <p>
                 <%= concert.description %>
                </p>
                </div>
                 </div>
                 <% end %>
                 

              </div> <!-- / .blog__body -->


          
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </div>
</div>
