<div class="row">
  <div class="col-sm-7">

    <!-- Main image -->
    <a href=".." data-lightbox="...">
      <img src="<%= @picture %>" alt="..." class="img-responsive">
    </a>




    <!-- Comments section -->
    <div class="comments">
      <div class="comments__heading">Venue Reviews</div>
        <% if current_user %>
          <h1 class="block-header alt">
            <span>Reviews</span>
          </h1>
          <%= form_tag '/reviews', method: :post do %>
            <div class="form-group">
              <%= hidden_field_tag :venue_id, @concert.venue_id %>
            </div>
            <div class="form-group">
              <%= label_tag :rating, 'Enter a rating: ' %>
              <%= select_tag :rating, options_for_select(1..5), multipe: false, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= label_tag :description, 'Enter  a description' %>
              <%= text_field_tag :description, '', class: 'form-control' %>
            </div>
            <div>
              <%= submit_tag "Submit comment", class: 'btn btn-default' %>
            </div>
          <% end %>
        <% end %>





    </div>






    </div>
    <div class="col-sm-5">

      <h1 class="block-header alt">
        <span>Concert Information</span>
      </h1>
      <h3>Venue: <%= @concert.venue.name %> </h3>
      <h4><%= @concert.friendly_date %></h4>
      <h4>Bands</h4>
      <% @concert.bands.each do |band| %>
      <ul>
       <li><%= band.name %></li>
     </ul>

     <% end %>

     <h1 class="block-header alt">
      <span>Ticket Information</span>
    </h1>

    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>Availablility:</td>
          <td><%= @ticket.status %></td>
        </tr>
        <tr>
          <td>Seller:</td>
          <td><%= User.find_by(id: @ticket.seller_id).name %></td>
        </tr>
        <tr>
          <td>Desired Compensation:</td>
          <td><%= @ticket.compensation %></td>
        </tr>
        <tr>
          <td><%= @concert.venue.name %>'s will call policy:</td>
          <td><%= @concert.venue.will_call_policy %></td>
        </tr>
        <% if @genres %>
        <tr>
          <td>Genres:</td>
          <td> <%= @genres.join(', ') %></td>
        </tr>
        <% end %>
        <tr>
          <td>Available Tickets:</td>
          <td><%= Ticket.where(concert_id: @concert.id).count %></td>
        </tr>
        <tr>
        </tbody>
      </table>
      <a type="button" class="btn btn-primary" href="https://www.google.com/calendar/render?action=TEMPLATE&text=<%=@concert.bands.first.name%>&dates=<%=@concert.date.to_s.gsub('-', '') %>T250000Z/<%=@concert.date.to_s.gsub('-', '') %>T270000Z&details=For+details,+link+here:+http://www.gig-buddies.com.com&location=<%=@concert.venue.name%>,Chicago,+IL&sf=true&output=xml">Add to Google Calendar</a>
      <% if current_user %>
      <% if @ticket.status == "available" %>
      <%= form_tag "/tickets/#{params[:id]}", method: :patch do %>
      <div>
        <%= hidden_field_tag :compensation, @ticket.compensation %>
      </div>
      <div>
        <%= hidden_field_tag :buyer_id, current_user.id %>
      </div>
      <div>
        <%= hidden_field_tag :seller_id, @ticket.seller_id %>
      </div>
      <div>
        <%= hidden_field_tag :status, "unavailable" %>
      </div>
      <div>
        <%= submit_tag "Buy Ticket" %>

      </div>
      <% end %>
      <% end %>
      <% else %>
      <button class="btn btn-primary" a href="/login">Login in!</button>
      <% end %>


    </div>
  </div> <!-- / .row -->




  