<div class="container">
        <div class="row">
          <div class="col-sm-12">

              <!-- Nav tabs -->
              <ul class="nav nav-tabs gallery__nav" role="tablist">
                <li role="presentation" class="active">
                  <a href="#" role="tab" data-toggle="tab" data-filter="*">
                  All
                </a>
              </li>
              <li role="presentation">
                <a href="#" role="tab" data-toggle="tab" data-filter=".category_1">
                  <span class="hidden-xs">Category</span> #1
                </a>
              </li>
              <li role="presentation">
                <a href="#" role="tab" data-toggle="tab" data-filter=".category_2">
                  <span class="hidden-xs">Category</span> #2
                </a>
              </li>
              <li role="presentation">
                <a href="#" role="tab" data-toggle="tab" data-filter=".category_3">
                  <span class="hidden-xs">Category</span> #3
                </a>
              </li>
            </ul>
          
        </div>
      </div> <!-- / .row -->


      <div class="row isotope-container">
      <% @concerts.each do |concert| %>
       
        <div class="col-sm-4 col-lg-3 isotope-item category_1">
          
          <a href="/concerts/<%= concert.id %>" class="thumbnail">
            <% if concert.bands.first %>
            <img src="assets/img/<%= concert.bands.first.image %>" alt="...">
            <% end %>
            <div class="caption">
             <% concert.bands.each do |band| %>
              <h5><%= band.name %></h5>
               <% end %>
             
              <p>Venue: <%= concert.venue.name %></p>
              <p><%= concert.friendly_date %></p>
              <p>Show: <%= concert.show %></p>
            </div>
          </a>


        </div>
       
          <% end %>
        
        
      </div> <!-- / .row -->
    </div> <!-- / .container -->