<div class="container">
      <div class="row">
        <div class="col-sm-7">
          <!-- Main image -->
          <a href=".." data-lightbox="...">
            <% if @concert.picture.include?('gig_buddies') %>
              <img src="/<%= @concert.picture %>" alt="...">
            <% else %>
              <img src="<%= @concert.picture %>" alt="...">
            <% end %>
          </a>
          <!-- Comments section -->
          <div class="comments">
            <div class="comments__heading">Venue Reviews</div>
            <!-- New comment form -->
            <% if current_user %>
              <h1 class="block-header alt">
                <span>Reviews</span>
              </h1>

              <%= form_tag '/reviews', method: :post do %>
                <div class="form-group">
                  <%= hidden_field_tag :venue_id, @concert.venue_id %>
                </div>
                <div class="form-group">
                  <%= label_tag :rating, 'Enter a rating: ' %>
                  <%= select_tag :rating, options_for_select(1..5), multipe: false, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= label_tag :description, 'Enter  a description' %>
                  <%= text_field_tag :description, '', class: 'form-control' %>
                </div>
                <div>
                  <%= button_tag(type: "submit", class: "btn btn-primary") do %>
                  Submit Review
                </div>
                  <% end %>  
                <% end %>
              <% end %>

            <!-- List of comments -->
            <div class="comments__list">
              
              <!-- Comment item -->
              <% if @concert.venue.reviews %>
              <% @concert.venue.reviews.each do |review| %>
              <div class="comments__item">
                
                <div class="comments-item__avatar">
                  <img src="../assets/img/<%= User.find_by(id: review.user_id).profile_pic %>" class="img-responsive" alt="..." />
                </div>

                <div class="comments-item__body">

                  <div class="comments-item__info">
                    <div class="comments-item-info__author"><%= User.find_by(id: review.user_id).name %></div>
                    <div class="comments-item-info__divider">
                      <i class="fa fa-circle"></i>
                    </div>
                    
                    <ul class="rating">
                    <% review.rating.times do %>
                      <i class="fa fa-star"></i>
                    <% end %>
                    </ul>
           
                  </div>

                  <div class="comments-item__content">
                    <%= review.description %>
                  </div>

                  <div class="comments-item__actions">
                    <a href="#" class="comment-item-actions__reply">
                      Reply
                    </a>
                  </div>
                </div>

              </div> <!-- / .comments__item -->
              <% end %>
              <% end %>
            </div> <!-- / .comments__list -->

          </div> <!-- / .comments -->

        </div>
        <div class="col-sm-5">
          
          <h1 class="block-header alt">
            <span>Concert Information</span>
          </h1>
          <h3>Venue: <%= @concert.venue.name %> </h3>
          <h4><%= @concert.friendly_date %></h4>
          <% if @concert.doors %>
          <h5>Doors: <%= @concert.doors %></h5>
          <% end %>
          <h5>Show: <%= @concert.show %></h5>
          <h2>Lineup:</h2>
           <% @concert.bands.each do |band| %>
           <ul>
           <li><h3><%= band.name %></h3></li>
           </ul>
         <% end %>
          <p><%= @concert.description %></p>
          
          
          
          <h1 class="block-header alt">
            <span>Ticket Information</span>
          </h1>

          <table class="table table-bordered">
            <tbody>
            <% if @genres %>
              <tr>
                <td>Genres:</td>
                <td> <%= @genres.join(', ') %></td>
              </tr>
              <% end %>
              <tr>
                <td>Available Tickets:</td>
                <td><%= @ticket_count %></td>
              </tr>
                 <% if @ticket_count > 0 %>
              <tr>
                <td>Buy Tickets:</td>
                <td><a href="/tickets/?concert=<%= @concert.id%>"><button type="button" class="btn btn-success">Buy ticket</button></a></td>
              </tr>
              <% end %>
              <tr>
                <td>Sell Tickets:</td>
                <td><a href="/tickets/new?concert_id=<%= @concert.id%>"><button type="button" class="btn btn-info">List ticket</button></a></td>
              </tr>
              <tr>
                <td><%= @concert.venue.name %>'s will call policy:</td>
                <td><%= @concert.venue.will_call_policy %></td>
              </tr>
            </tbody>
          </table>
          <a type="button" class="btn btn-primary" href="https://www.google.com/calendar/render?action=TEMPLATE&text=<%= @concert.bands.first.name %>&dates=<%= @concert.date.to_s.gsub('-', '') %>T250000Z/<%= @concert.date.to_s.gsub('-', '') %>T270000Z&details=For+details,+link+here:+http://www.gig-buddies.com&location=<%= @concert.venue.name %>,Chicago,+IL&sf=true&output=xml">Add to Google Calendar</a>
          <% if current_user %>
            <%= form_tag '/user_concerts', method: :post do %>
              <div class="form-group">
                <%= hidden_field_tag :concert_id, @concert.id %>
              </div>
              <%= button_tag(type: "submit", class: "btn btn-info") do %>
              Add to calendar
              </div>
            <% end %>  
            <% end %>
          <% end %>
          <% if @spotify && @spotify['artists']['items'][0] %>
          <h1 class="block-header alt">
            <span>Listen</span>
          </h1>
          <iframe src="https://embed.spotify.com/?uri=<%=@uri%>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
          <% end %>

  <div>
          <h1 class="block-header alt">
            <span>Maps</span>
          </h1>
          <iframe
            width="450"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['GOOGLE_API_KEY']%>&q=<%= @concert.venue.name%>,Chicago+IL" allowfullscreen>
          </iframe>
          </div>


          <h1 class="block-header alt">
            <span>Weather</span>
          </h1>
            <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
            <div class="card">
            <span class="city">Chicago</span>
              <ul class="menu">
                <li></li>
                <li></li>
                <li></li>
              </ul>
              <br>
            <% if @text && @high %>  
              <div class="<%=@text.downcase%>"></div>
                <span class="temp"><%= @high%>&#176;</span>
                <span>
                  <ul class="variations">
                    <li><%=@text%></li>
                    
                  </ul>
                </span>
              </div>
          <% else %>
            <h3>Day of show weather currently unavailable</h3>
          <% end %>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->


  