<h1>Add a review</h1>

<%= form_tag '/reviews', method: :post do %>

  <div class="form-group">
    <%= label_tag :venue_id %>
    <%= select_tag :venue_id, options_for_select(@venues.collect{ |u| [u.name, u.id] }), multiple: false, include_blank: true, class: 'form-control' %>
 </div>
  <div class="form-group">
  <%= label_tag :rating, 'Enter a rating: ' %>
  <%= select_tag :rating, options_for_select(1..5), multipe: false, class: 'form-control' %>
  </div>
   <div class="form-group">
  <%= label_tag :description, 'Enter  a description' %>
  <%= text_field_tag :description, '', class: 'form-control' %>
  </div>

  
  
  <div>
  <%= submit_tag 'Submit review!' %>
  </div>
  <% end %>