



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="/shortcut icon" href="assets/favicon/favicon.ico">

    <title>Gig Buddies Homepage</title>

    <!-- CSS Plugins -->
    <link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" >

    <!-- CSS Global -->
    <link href="/assets/css/styles.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- NAVIGATION
    ================================================== -->

    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_main" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/">Gig Buddies</a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar_main">

          <ul class="nav navbar-nav navbar-left">
            <li><a href="/">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reviews <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/reviews">All Reviews</a></li>
                <% if current_user %>
                <li><a href="/reviews/new">Add a review</a></li>
                <% end %>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tickets <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/tickets">Acquire Tickets</a></li>
                <li><a href="/tickets/new">List a Ticket</a></li>
                <% if current_user %>
                <li><a href="/tickets?bought_tickets=<%=current_user.id%>">My Acquired Tickets</a></li>
                <li><a href="/tickets?sold_tickets=<%=current_user.id%>">My Listed Tickets</a></li>
                <% end %>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Concerts <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/concerts">All concerts</a></li>
                <% if current_user %>
                <li><a href="/concerts?calendar=<%= current_user.id %>">My Calendar</a></li>
                <% end %>
              </ul>
            </li>
            </li>
            <li><a href="/venues">Venues</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li>
                <a href="/logout"><i class="fa fa-lock"></i> <span class="hidden-md">Logout</span></a>
              </li>
            <% else %>
              <li>
                <a href="/login"><i class="fa fa-lock"></i> <span class="hidden-md">Login</span></a>
              </li>
              <li>
                <a href="/signup"><i class="fa fa-user"></i> <span class="hidden-md">Sign Up</span></a>
              </li>
            <% end %>
          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

    <!-- Header -->
    <div class="page-topbar">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 hidden-xs">
            

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </div>
<% flash.each do |name, message| %>
  <div class="alert alert-<%= name %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><p><%= message %></p>
  </div>
  <% end %>

    <!-- CONTENT
    ================================================== -->
    <div class="container">
      <%= yield %>
    </div>

    <!-- FOOTER 
    ================================================== -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            
            <div class="footer__col">
              <h3 class="footer__header">Gig Buddies</h3>
              <p>
                We are company focused on getting you to the show
              </p>
              <p>
                gigbuddies.info@gmail.com<br />
                
              </p>
              <ul class="footer__social">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
              </ul>
            </div>

          </div>          
          <div class="col-xs-6 col-sm-2">
            
            <div class="footer__col">
              <h3 class="footer__header">
                Learn More
              </h3>
              <ul class="footer__content">
                <li><a href="https://github.com/jakeszemanski/gig-buddies-app">How it works?</a></li>
                <li><a href="#">.</a></li>
                <li><a href="#">.</a></li>
                <li><a href="#">.</a></li>
              </ul>
            </div>

          </div>
          <div class="col-xs-6 col-sm-2">
            
            <div class="footer__col">
              <h3 class="footer__header">
                About Us
              </h3>
              <ul class="footer__content">
                <li><a href="https://www.linkedin.com/in/jacob-szemanski/">Linkedin</a></li>
                <li><a href="https://jakeszemanski.github.io/">Personal Site</a></li>
                <li><a href="https://github.com/jakeszemanski/gig-buddies-app">Github</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div>

          </div>
          <div class="col-xs-12 col-sm-4">
            
            <div class="footer__col">
              <h3 class="footer__header">Subscribe</h3>
              <p>
                Enter your e-mail below to subscribe to our free newsletter.
              </p>
              <p>
                No spam. We promise.
              </p>
              <form class="form-inline footer__form">
                <div class="form-group">
                  <label class="sr-only">Enter e-mail</label>
                  <input type="email" class="form-control" placeholder="Enter your e-mail">
                </div>
                <button type="submit" class="btn btn-default">
                  OK
                </button>
              </form>
            </div>

          </div>

        </div> <!-- / .row -->

        <hr class="footer__hr" />

        <div class="row">
          <div class="col-sm-6">
            
            <p>
              Company 2016. All rights reserved.
            </p>

          </div>
        </div> <!-- / .row -->

      </div> <!-- / .container -->
    </footer>


    <!-- JavaScript
    ================================================== -->
    
    <!-- JS Global -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- JS Plugins -->
    <script src="/assets/plugins/scrolltopcontrol/scrolltopcontrol.js"></script>
    
    <!-- JS Custom -->
    <script src="/assets/js/custom.js"></script>

  </body>
</html>