



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="/shortcut icon" href="assets/favicon/favicon.ico">

    <title>Gig Buddies Homepage</title>

    <!-- CSS Plugins -->
    <link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" >

    <!-- CSS Global -->
    <link href="/assets/css/styles.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- NAVIGATION
    ================================================== -->

    <!-- Navbar -->
    <nav class="navbar navbar-default">
      <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_main" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="index.html">Gig Buddies</a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar_main">

          <ul class="nav navbar-nav navbar-left">
            <li><a href="/concerts">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="profile.html">Profile</a></li>
                <li><a href="edit-profile.html">Edit Profile</a></li>
                <li><a href="inbox.html">Inbox</a></li>
                <li><a href="inbox-dialog.html">Inbox: Dialog</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tickets <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/tickets">Buy Tickets</a></li>
                <li><a href="/tickets/new">Sell Tickets</a></li>
                <% if current_user %>
                <li><a href="/tickets?bought_tickets=<%=current_user.id%>">My Acquired Tickets</a></li>
                <li><a href="/tickets?sold_tickets=<%=current_user.id%>">My Listed Tickets</a></li>
                <% end %>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Concerts <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="gallery-text.html">Gallery: Text blocks</a></li>
                <li><a href="gallery-bubbles.html">Gallery: Bubbles</a></li>
                <li><a href="gallery-item.html">Gallery Item</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Venues<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/venues">All venues</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="404.html">Error 404</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="team.html">Our Team</a></li>
                <li><a href="pricing.html">Pricing</a></li>
              </ul>
            </li>
            <li><a href="ui-elements.html">UI elements</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li>
                <a href="/logout"><i class="fa fa-lock"></i> <span class="hidden-md">Logout</span></a>
              </li>
            <% else %>
              <li>
                <a href="/login"><i class="fa fa-lock"></i> <span class="hidden-md">Login</span></a>
              </li>
              <li>
                <a href="/signup"><i class="fa fa-user"></i> <span class="hidden-md">Sign Up</span></a>
              </li>
            <% end %>
          </ul>

          <form class="navbar-form navbar-search navbar-right">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="&#xF002; &nbsp; Search">
            </div>
            <button type="submit" class="btn btn-default">
              <i class="fa fa-search"></i> Search
            </button>
          </form>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

    <!-- Header -->
    <div class="page-topbar">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">

            <h3>Inbox</h3>
            
          </div>
          <div class="col-sm-8 hidden-xs">
            
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li><a href="#">Profile</a></li>
              <li class="active">Inbox</li>
            </ol>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </div>


    <!-- CONTENT
    ================================================== -->
    
<%= yield %>

    <!-- FOOTER 
    ================================================== -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            
            <div class="footer__col">
              <h3 class="footer__header">Our Company</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, corrupti debitis!
              </p>
              <p>
                US & CAN: 1-234-56789 <br />
                Worldwide: 1-234-56789
              </p>
              <ul class="footer__social">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
              </ul>
            </div>

          </div>          
          <div class="col-xs-6 col-sm-2">
            
            <div class="footer__col">
              <h3 class="footer__header">
                Learn More
              </h3>
              <ul class="footer__content">
                <li><a href="#">How it works?</a></li>
                <li><a href="#">Meeting Tools</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Sitemap</a></li>
              </ul>
            </div>

          </div>
          <div class="col-xs-6 col-sm-2">
            
            <div class="footer__col">
              <h3 class="footer__header">
                About Us
              </h3>
              <ul class="footer__content">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div>

          </div>
          <div class="col-xs-12 col-sm-4">
            
            <div class="footer__col">
              <h3 class="footer__header">Subscribe</h3>
              <p>
                Enter your e-mail below to subscribe to our free newsletter.
              </p>
              <p>
                No spam. We promise.
              </p>
              <form class="form-inline footer__form">
                <div class="form-group">
                  <label class="sr-only">Enter e-mail</label>
                  <input type="email" class="form-control" placeholder="Enter your e-mail">
                </div>
                <button type="submit" class="btn btn-default">
                  OK
                </button>
              </form>
            </div>

          </div>

        </div> <!-- / .row -->

        <hr class="footer__hr" />

        <div class="row">
          <div class="col-sm-6">
            
            <p>
              Company 2016. All rights reserved.
            </p>

          </div>
        </div> <!-- / .row -->

      </div> <!-- / .container -->
    </footer>


    <!-- JavaScript
    ================================================== -->
    
    <!-- JS Global -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- JS Plugins -->
    <script src="/assets/plugins/scrolltopcontrol/scrolltopcontrol.js"></script>
    
    <!-- JS Custom -->
    <script src="/assets/js/custom.js"></script>

  </body>
</html>